body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.not-header {
  margin: 100px 200px;
  border: 1px solid rgb(3, 22, 38);
  padding: 40px;
}
.btn {
  width: 120px;
  height: 50px;
  cursor: pointer;
  color: rgb(230, 28, 5);
  font-weight: 700;
  border: none;
  outline: none;
  transition: 0.3s;
}
.btn:hover {
  background: rgb(230, 28, 5);
  color: white;
}
.category-by-type {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.category-by-type .buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.category-by-type .buttons .btn {
  width: 80px;
  height: 40px;
}
.table-container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-container table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table-container table th,
.table-container table td {
  text-align: center;
  padding: 12px 16px;
}
.table-container table tbody td {
  font-weight: 300;
}
