.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: rgb(3, 22, 38);
}
.btn-image-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.btn-image-btn img.btn-image {
  height: 25px;
}
.navbar-container nav {
  display: flex;
  gap: 50px;
}
.navbar-container nav ul {
  display: flex;
  gap: 20px;
}
.navbar-container nav ul li{
  list-style-type: none;
}
.navbar-container nav .nav-link {
  color: white;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}
.navbar-container nav .nav-link.active {
  color: rgb(230, 28, 5);
  font-size: 20px;
}
.navbar-button-container button.btn {
  background: rgb(230, 28, 5);
  color: white;
}
.navbar-button-container button.btn:hover {
  color: rgb(230, 28, 5);
  background: white;
}
